.demo-wrapper h1 {
	padding: 0 0;
}
.demo-wrapper h3  {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px dotted #ccc;
	text-align: left;
}
.demo-wrapper h4	{
	text-align: left;
}
.demo-wrapper pre	{
	font-size: 12px;
	margin-bottom: 25px;
	overflow: scroll;
	text-align: left;
}
.demo-wrapper section {
	padding: 0;
	text-align: center;
	padding: 50px;
}
.demo-wrapper section:target {
	background-color: #f9f9f9;
	border: 1px dashed #999;
}
.demo-wrapper {
	width: 600px;
	margin: 25px auto;
}
.demo-wrapper .reflect {
	height: 850px;
	margin-bottom: 50px;
}
.demo-wrapper .reflect.below img {
    -webkit-box-reflect: below;
}
.demo-wrapper .reflect.offset img {
    -webkit-box-reflect: below 10px;
}
.demo-wrapper .reflect.masking {
	height: 750px
}
.demo-wrapper .reflect.masking img {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.demo-wrapper .reflect.color-stop {
	height: 750px
}
.demo-wrapper .reflect.color-stop img {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}
#moz-reflect:after {
	content: "";
	display: block;
	background: -moz-element(#moz-reflect) no-repeat;
	width: auto;
	height: 385px;
	margin-bottom: 100px;
	-moz-transform: scaleY(-1);
}